.title{
    color: darkblue;
    font-weight: bold;
}
.title2{
    color:green;
    font-weight: bold;
}
.record{
    text-align: center;
    color: darkorange;
}
.record2{
    text-align: left;
    color:darkorange;
}
ion-content{
    background-color: powderblue;

}

// ion-card{
   
//    background-color: powderblue;

// }